
SERVER_PORT=3333

JWT_SECRET=
GTIHUB_OAUTH_CLIENT_ID=
GTIHUB_OAUTH_CLIENT_SECRET=
GTIHUB_OAUTH_CLIENT_REDIRECT_URI=

DATABASE_URL="postgresql://user_database:password_database@localhost:port/name_database?schema=public"

NEXT_PUBLIC_API_URL="http://localhost:3333"
NEXT_PUBLIC_COOKIE_ORGANIZATION="name_cookie_oraganization"
NEXT_PUBLIC_COOKIE_TOKEN="token_app"